<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King of Fight</title>
    <link rel="stylesheet" href="/KOF/static/css/base.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
    <div id="kof">
    </div>
    <script type="module">
        import { KOF } from '/KOF/static/js/base.js';
        let kof = new KOF('kof');
    </script>
</body>

</html>